*{
    font-family: 'Comfortaa',serif;
    font-weight: 400px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(74, 3, 141);
}
body{
    margin:100px;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
header{
    margin-right: 60px;
}
header h1{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(177, 116, 3);
}
.ber{
    display: flex;
    justify-content: space-between;
}
.nav-ber{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.about{
    width: 600px;
    /* box-shadow: 10px 10px 50px .5px rgb(189, 189, 189) ; */
    border-radius: 10px;
    margin-left: -80px;
    transition:1s;
}
.about:hover{
    box-shadow: 10px 10px 30px .5px rgb(134, 130, 246);
    transition: 1s;
}
.about i{
    transition:.5s;
    padding: 8px 50px;
    font-size: 30px;

}
.about i:hover{
    color: cornflowerblue;
    transition:.5s;
    transform: rotate(20deg)
}

/* ...................finish lif of navber................ */
.container{
    display: flex;
    justify-content: space-between;
}
.pic1{
    width: 600px;
    height: 270px;
    margin-top: 150px;
    border-radius: 20px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px .5px rgb(140, 138, 137);
    border-left: 6px solid blueviolet;
    transition:3s;
}
.pic1:hover{
    box-shadow: 10px 10px 30px .5px rgb(134, 130, 246);
    transition: 1s;
}
address{
    margin-top: 5%;
    padding: 5%;

}
address a{
    padding: 10px 18px;
    background-color: rgb(114, 80, 251);
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 11px;
    color: white;
    transition: 1s ;
}
address a:hover{
    color: black;
    transition: 1s ;
    background-color: #498cf6;
}
/* --------------------ending of header section------------------ */
.form-header h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.function{
    display: flex;
    justify-content: space-between;
}
.table1 .in-info{
    height: 29px;
    width: 250px;
    display: block;
    padding: 5px;
    margin: 30px 5px;
    border-radius: 6px;
    border: none;
    background-color: #F2F4F5;
  }
.insert{
    height: 40px;
    width: 110px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    font-weight: 500;
    background-color: #498cf6;
    color: white;
    margin-left: 2%;
    cursor: pointer;
}
.submit{
    margin-right: 20px;
}
.table1{
    height: 500px;
    width: 320px;
    padding-top: 45px;
    padding-left: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 80px .1px rgba(145, 145, 144, 0.479);
    transition: 1s;
}
.table1:hover{
    box-shadow: 10px 10px 80px .1px rgba(115, 73, 251, 0.479);
    transition: 1s;
}
.table1 .insert-form h1{
    font-size: 16px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.table2{
    height: 500px;
    width: 800px;
    padding-top: 45px;
    padding-left: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 80px .1px rgba(145, 145, 144, 0.479);
    transition: 1s;
}
.table2:hover{
    box-shadow: 10px 10px 80px .1px rgba(115, 73, 251, 0.479);
    transition: 1s;
}
.table2 .t-head{
    padding: 5px 65px;
    text-align: center;
    border: 1px solid #498CF6;
    border-radius: 5px;
}

